@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}


.no-scrollbar::-webkit-scrollbar { display:none; }
.no-scrollbar { -ms-overflow-style:none; scrollbar-width:none; }

        /* ทำให้ค่าที่แสดงในช่องจัดชิดซ้าย และลดเงา/พื้นหลังพิเศษของ iOS */
        input::-webkit-date-and-time-value { text-align: left; }
        input::-webkit-datetime-edit,
        input::-webkit-date-and-time-value,
        input::-webkit-inner-spin-button { background: transparent; }
        input::-webkit-calendar-picker-indicator { opacity: .8; }